
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-width: 325px;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.flex{
    display: flex;
}

.small-font{
    font-size: 0.813rem;
}

.padding-top{
    padding: 1.5rem 0;
}

.margin-top{
    margin-top: 2rem;
}

.white-font{
    color: white;
}

.btn{
    border: none;
    border-radius: 2rem;
}

img{
    display: block;
}

/* Header */

header{
    background-color: #0084fd;
    padding: 1rem 2rem;
}

.header-container{
    justify-content: space-between;
    align-items: center;
    color: white;
}

header nav button{
    background-color: white;
    padding: 0.5rem;
}

/* Mobile-nav */

header nav a{
    text-decoration: none;
    color: white;
    padding-right: 1.5rem;
}

header nav a i{
    font-size: 1.5rem;
}

/* Desktop-nav */

header nav.desktop-nav{
    display: none;
}


/* Main */

/* Section-1: demo application*/

.cards-demo{
    padding: 2rem 1.5rem;
}

.cards-demo .card{
    background-color: #b5ddff;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 2rem 2.5rem 0 2.5rem;
}

.cards-demo .card h2{
    color: #0084fd;
}

.cards-demo .card p{
    line-height: 1.5rem;
}

.cards-demo .card button{
    background-color: #0084fd;
    padding: 0.7rem 2.2rem;
    color: white;
    font-size: 1rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
}

.cards-demo .card img{
    margin: auto;
    width: 70%;
}

.cards-demo .card h2, p{
    margin-bottom: 1.5rem;
}

.cards-demo .small-card{
    text-align: center;
    padding-bottom: 0.5rem;
}

.cards-demo .small-card i{
    font-size: 4rem;
    color: #0084fd;
    margin-bottom: 1.5rem;
}

/* Section-2: strategic-planning*/

.strategic-planning{
    background-color: #9792e4;
    padding: 3rem 1.5rem;
}

.cards-planning p{
    line-height: 1.5rem;
}

.cards-planning h2{
    padding: 1.5rem 0;
}

.cards-planning .box-1{
    color: white;
}

.cards-planning .box-2{
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
}

.cards-planning .box-2 img{
    margin: auto;
}

.cards-planning .box-1 h2{
    font-size: 1.7rem;
}

.cards-planning .box-2 i{
    background-color: #9792e4;
    padding: 0.7rem;
    border-radius: 50%;
}

/* Section-3: testimonials*/

.cards-testimonial{
    margin: auto;
    margin: 1.5rem;
    padding: 2rem 0;
}

.cards-testimonial .titles{
    text-align: center;
}

.cards-testimonial .card{
    margin: auto;
    text-align: center;
    background-color: #9792e4;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.circular-img{
    height: 130px;
    width: 130px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.cards-testimonial .card .circular-img{
    margin: auto;
}

.cards-testimonial .card .circular-img img{
    height: 100%;
    width: auto;
    margin-left: -30px;
}

.cards-testimonial p{
    line-height: 1.5rem;
}

.cards-testimonial h1{
    color: #9792e4;
    font-size: 1.7rem;
}

/* Section-4: benefits*/

.benefits{
    background-color: #9792e4;
    padding: 2.5rem 0;
}

.benefits h2{
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}

.cards-benefits .card{
    background-color: white;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 1.5rem;
    color: #9792e4;
}

.cards-benefits .card .number{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.cards-benefits .card h3{
    margin-bottom: 1rem;
}

.cards-benefits .card p{
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: rgb(25, 25, 25);
}

.cards-benefits .card button{
    background-color: #9792e4;
    padding: 0.5rem 2.5rem;
    color: white;
}

/* Section-5: about-us*/

.about-us{
    padding: 2rem 0;
}

.box-about-us{
    padding: 1.5rem;
    width: 100%;
}

.box-about-us h2{
    padding: 1.5rem 0;
    color: #9792e4;
    font-size: 2rem;
}

.box-about-us p{
    line-height: 1.5rem;
}

.box-about-us .circular-img img{
    height: 100%;
    width: auto;
}

.box-about-us .box-right .container-img{
    width: 9rem;
    position: relative;
}

.box-about-us .box-right .fa-quote-left{
    color: #9792e4;
    font-size: 3rem;
    z-index: 10;
    position: absolute;
    left: 6rem;
}

.box-about-us .box-right h2{
    color: #9792e4;
    font-size: 1.3rem;
    padding: 0.5rem 0;
}

.box-about-us .box-right button{
    background-color: #9792e4;
    padding: 0.5rem 1rem;
    color: white;
    margin-top: 1rem;
}

/* Section-6: get-started*/

.get-started{
    background-color: #9792e4;
    padding: 2rem 0;
}

.box-get-started{
    padding: 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.box-get-started h3{
    margin: 1rem 0;
    color: white;
    font-size: 1.5rem;
}

.box-get-started h2{
    margin: 1rem 0;
    color: #fdc15f;
    font-size: 2.5rem;
}

.box-get-started p{
    margin: 1rem 0;
    line-height: 1.5rem;
}

.box-get-started p a{
    color: rgba(255, 255, 255, 0.9);
}

.box-get-started button{
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    color: #9792e4;
    background-color: white;
}

.box-get-started .fa-circle{
    font-size: 0.3rem;
    margin: 0 3px;
    vertical-align: middle;
}

/* Footer */

footer{
    background-color: #333333;
    color: white;
}

.box-footer{
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
}

.box-footer :first-child{
    margin-bottom: 3rem;
}

.box-footer a{
    color: #9792e4;
}


/* Media Query */

@media screen and (min-width: 426px) {

    /* Section-1: demo application*/

    .cards-demo .cards-row{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }

    .cards-demo .cards-row .big-card{
        flex-basis: 68%;
    }

    .cards-demo .cards-row .small-card-top{
        flex-basis: 32%;
    }
    
    .cards-demo .card img{
        margin: 0;
    }

    /* Section-2: strategic-planning*/
    
    .cards-planning .box-1 img{
        height: 500px;
        margin: auto;
    }

    .cards-planning .box-2 img{
        height: 400px;
        margin: auto;
    }

    /* Section-3: testimonials*/

    .cards-testimonial .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards-testimonial .card .circle{
        flex-basis: 20%;
    }

    .cards-testimonial .card .text{
        flex-basis: 75%;
    }

    /* Section-4: benefits*/

    .box-benefits{
        width: 100%;
    }

    .cards-benefits{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1rem;
    }

    .cards-benefits > .card{
        margin: 0;
        margin-bottom: 1rem;
        flex-basis: calc(100% / 2 - 1%);  
    }

    /* Section-5: about-us*/

    .box-about-us{
        display: flex;
        justify-content: space-between;
        gap: 2rem;  
    }
    
    .box-about-us .box-left{
        flex-basis: 70%;
    }

    .box-about-us .box-right{
        flex-basis: 30%;
    }

    .box-about-us .box-right .circular-img{
        margin: auto;
    }

    /* Section-6: get-started*/

    .box-get-started{
        width: 70%;
        margin: auto;
    }

    /*Footer*/

    .box-footer{
        width: 70%;
        margin: auto;
    }

}



@media screen and (min-width: 769px) {

    .container{
        width: 100%;
    }

    /* Header */

    .header-container{
        width: 70%;
        margin: auto;
    }
    
    header nav.mobile-nav{
        display: none;
    }

    header nav.desktop-nav{
        display: flex;
        align-items: center;
    }

    /* Section-1: demo application*/

    .cards-demo{
        width: 80%;
        margin: auto;
    }
    .cards-demo .big-card{
        display: flex;
        justify-content: center;
    }

    .cards-demo .box-left{
        width: 50%;
    }

    .cards-demo .box-right{
        width: 50%;
        position: relative;
    }

    .cards-demo .box-right img{
        width: 220px;
        height: 280px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    /* Section-2: strategic-planning*/

    .cards-planning{
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .cards-planning .box-1 img{
        max-height: 250px;
        margin: auto;
    }

    .cards-planning .box-2 img{
        max-height: 150px;
        margin: auto;
    }

    .cards-planning .box-1, .box-2{
        flex-basis: calc(100% / 2);
    }

    .cards-planning .box-2{
        height: 80%;
        align-self: flex-end;
        margin-left: 1rem;
    }

    /* Section-3: testimonials*/

    .cards-testimonial{
        width: 70%;
        margin: auto;
    }

    /* Section-4: benefits*/

    .box-benefits{
        width: 70%;
        margin: auto;
    }

    .cards-benefits > .card{
        flex-basis: calc(100% / 3 - 1%);  
    }

    /* Section-5: about-us*/

    .box-about-us{
        width: 70%;
        margin: auto;
    }

}